@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Righteous&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
 }

h1, h2 {
    font-family: 'Righteous', cursive;
    font-size: 1.5rem;
    color: #fff;
    background-color: #B0E4EA;
    padding: 10px 20px;
    text-align: center;

}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

h4 {
    font-family: 'Quicksand', sans-serif; 
    font-size: 1.25rem;
    text-align: center;
}

footer {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background-color: #B0E4EA;
    padding: 10px 10px;
    text-align: center;
}

img {
    max-width: 300px;
}

.site-inner {
    max-width: 800px;
    margin: 20px auto;

}