@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Righteous&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
 }

h1, h2 {
    font-family: 'Righteous', cursive;
    font-size: 1.5rem;
    color: #fff;
    background-color: #0C7BE8;
    padding: 10px 20px;
    text-align: center;

}

.container {
    background-color: #fff;
}

ul li {  
    color: #333;
}

.site-inner {
    max-width: 800px;
    margin: 20px auto;

}

#profile-image {
 margin: 20px;
 box-shadow: 10px 10px 5px #D3D3D3;
}

footer {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background-color: #0C7BE8;
    padding: 10px 10px;
    text-align: center;
}

#lastModified, #currentdate {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}