@media only screen and (min-width: 40em) {
    .site-inner {
        max-width: 1500px;
        margin: 20px auto;
    
    }

    
    #container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
    }

}