@media screen and (min-width: 32.5em){
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
        flex: 1 1 auto;
        background-color: #527CB3;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}