@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Rancho&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
 }

.site-inner {
    max-width: 800px;
    margin: 20px auto;
}

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #527CB3;

}

.navigation {
 list-style: none;
 text-align: center;
 padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    padding: .75rem;
    text-align: center;
    text-decoration: none;

}

.navigation a:hover {
    color:#75B1FF;
    background-color:#355073;
    font-weight: 600;

}

.hide li{
    display: block;

}

 h1 {
    font-size: 2rem;
    border-radius: 10px;
}

h2 {
    font-size: 1.5rem;
    border-radius: 10px;
}

h1, h2, h3, h4 {
    text-align: center;
   font-family: 'Rancho', cursive;
   color: #344C6B;
}

 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 2rem;
}

.logo {
    max-width: 64px;
    padding: 0px;
}


footer {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background-color:#527CB3;
    padding: 10px 10px;
    text-align: center;
    border-radius: 10px;
}