@media only screen and (min-width: 32.5em) {

    h1, h2 {
        font-size: 2rem;
        border-radius: 10px;
    }

    .site-inner {
        max-width: 950px;
        margin: 20px auto;
    
    }

    #profile-image {
        float: right;
    }

    footer {
        border-radius: 10px;
    }
}