article picture img[data-src] {
    filter: blur(0.2em);
}

article picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}

h1 {
    text-align: center;
}

article {
    display: grid;
    grid-auto-rows: 400px;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    margin: auto;
}