body {
    max-width: 800px;
    margin: auto;
}

h2 {
    color: navy;
    font-size: 1.5em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
}

section img {
    width: 70%;
}