@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: #fff;
    }

    .site-inner {
        max-width: 900px;
        margin: 20px auto;

    }

    .hero-div {
        margin: auto;
        width: 100%;
        position: relative;

    }

    .hero-img {
        margin: auto;
        background-color: #eee;
        width: 100%;
    }

    .article-div {
        display: block;
    }

    .article-img {
        float: right;
        width: 400px;
        padding-left: 10px;
    }

    .weather-summery {
        position: absolute;
        top: 25%;
        left: 100px;
        background-color: #fff;
        padding: 10px;
    }

    .forecast-title {
        background-color: #fff;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .forecast-div {
        display: block;
    }

    .forecast-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .forecast-img {
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }

    .temperatures {
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .contact-img {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    .contact-item1 {
        grid-column: 2;
        align-items: end;
    }

    /* Gallery Grid */

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        align-items: center;
        justify-items: center;
        margin: auto;
        padding-bottom: 20px;
    }



}